body {
  margin: 0;
  font-family: Arial;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  background-color: #ffffff;
  color: white;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #0d6efd;
  color: white;
}

/* Main Content */
.main-content {
  margin-left: 250px;
  padding: 20px;
}

/* Navbar */
.topbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

/* Cards */
.card-box {
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.bg1 {
  background-color: #0d6efd;
}

.bg2 {
  background-color: #198754;
}

.bg3 {
  background-color: #ffc107;
  color: black;
}

.bg4 {
  background-color: #dc3545;
}




.submenu {
  padding-left: 15px;
}

.submenu-inner {
  padding-left: 15px;
}

.menu-toggle {
  cursor: pointer;
}

.submenu-toggle {
  cursor: pointer;
}
