body {
  margin: 0;
}

/* Background */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100VH;

  background: url('../Login/LoginBackground.jpg') no-repeat center;
  background-size: cover;
  z-index: -2;
}

/* Overlay (Opacity 0.5) */
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(228, 226, 226, 0.5); /* 👈 opacity control */
  z-index: -1;
}

/* Form Box */
.register-box {
  width: 100%;
  max-width: 600px;

  backdrop-filter: blur(10px);
  background: rgb(252, 252, 252,0.2);
}

.registration-loginbtn a {
  text-decoration: none;
}