@if (Isloading) {
  <h3>Loading.....</h3>
} @else {
  <div class="course-container">
    <div *ngFor="let course of courses" class="course-card">
      @if (course.isSubscribed) {
        <img class="thumbnail" [src]="'https://localhost:44385' + course.thumbailUrl" />

        <div class="card-body">
          <h3>{{ course.title }}</h3>

          <p class="price">₹ {{ course.fees }}</p>
          <div class="dates">
            <span>Start: {{ course.startDate | date }}</span>
            <span>End: {{ course.endDate | date }}</span>
          </div>
          <a
            class="btn btn-primary"
            routerLink="/student-dashboard/video-serve"
            [queryParams]="{ id: course.courseId }"
          >
            Start Learning !
          </a>
        </div>
      }
    </div>
  </div>
}
