.course-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.course-card {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.course-card:hover {
  transform: scale(1.03);
}

.thumb {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}
