.block-btn{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.exam-card{
  border-radius:12px;
  transition:0.3s;
}

.exam-card:hover{
  transform:translateY(-5px);
}

.exam-thumb{
  height:160px;
  object-fit:cover;
}

.exam-desc{
  font-size:13px;
  color:#666;
  min-height:45px;
}

.exam-info span{
  font-size:13px;
  color:#777;
}
